body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef5fb;
}

.navbar {
    background: #3f7834;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-img-btn img {
    height: 55px;
    cursor: pointer;
    transition: 0.15s;
}
.nav-img-btn img:hover {
    transform: scale(1.05);
}

/* ===== DROPDOWN ===== */
.dropdown { position: relative; }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    margin-top: 5px;
    z-index: 10;
}
.dropdown-content img {
    width: 150px;
    margin-bottom: 8px;
    transition: 0.15s;
    border-radius: 10px;
}
.dropdown-content img:hover {
    transform: scale(1.05);
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Title */
.title {
    text-align: center;
    padding: 25px;
    background: white;
}

.title h1 {
    color: #1565c0;
}

/* Container */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Card style */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card h2 {
    color: #3e58c8;
}

/* Gallery */
.gallery {
    text-align: center;
    padding: 30px;
}

.gallery h2 {
    color: #ffffff;
}

.image-box {
    display: inline-block;
    margin: 15px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.image-box img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    transition: 0.4s;
}

.image-box:hover img {
    transform: scale(1.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #1e88e5;
    color: white;
    margin-top: 30px;
}



#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:white;
display:none;
justify-content:center;
align-items:center;
z-index:9999;
overflow:hidden;
}

.loading-text{
position:absolute;
z-index:10;
font-size:40px;
font-weight:bold;
color:#1e3a8a;
}

.water{
position:absolute;
bottom:0;
width:100%;
height:100%;
transform:translateY(100%);
animation:rise 1.2s ease-out forwards;
}

.water-fill{
position:absolute;
bottom:0;
width:100%;
height:100%;
background:linear-gradient(
to bottom,
#1fa2ff 0%,
#5fbfff 40%,
#9ddcff 70%,
#ffffff 100%
);
}

.wave-svg{
position:absolute;
bottom:100%;
width:200%;
animation:waveMove 8s linear infinite;
}

.wave2{ animation-duration:12s; opacity:0.7; }
.wave3{ animation-duration:16s; opacity:0.5; }

@keyframes rise{
from{ transform:translateY(100%); }
to{ transform:translateY(0); }
}

@keyframes waveMove{
from{ transform:translateX(0); }
to{ transform:translateX(-50%); }
}